@use "../abstracts" as *;


fieldset {
    border: none;
}

.docs-heading {
    .table-header {
        justify-content: space-between;
    }
}


.table-rows {
    width: 100%;
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    background: rgb(249 249 249);
    label {
        display: block;
    }
    &:nth-of-type(2n + 1) {
        background: rgb(255, 255, 255);
    }
}

.table-header {
    @extend .table-rows;
    background: $grey-light!important;
    label {
        display: block;
    }
}

.form-row {
    display: flex;
    gap: 1rem;
    label {
        display: block;
        width: 100%;
        input {
            width: 100%;
        }
    }
}
.summary {
    display: flex;
    justify-content: flex-end;
    label {
        font-size: 2.5rem;
        font-weight: 700;
    }
    input {
        border: none;
        text-align: right;
        width: fit-content;
        max-width: 25rem;
        &:focus {
            border: none;
        }
    }
}