@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
h1, h2, h3, h4, h5, h6 {
  font-family: "solpera", sans-serif;
  font-weight: 900;
  font-style: normal;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2.5rem;
}

h5 {
  font-size: 2.4rem;
}

h6 {
  font-size: 2.4rem;
}

p, a {
  font-family: "solpera", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.6rem;
}
p strong, a strong {
  font-weight: 700;
}

article strong,
hgroup strong {
  font-weight: 700;
}
article ul,
hgroup ul {
  margin-left: 40px;
}
article li,
hgroup li {
  font-size: 1.6rem;
}

@media only screen and (64em) {
  h1, h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 3rem;
  }
  h4 {
    font-size: 2.5rem;
  }
  h5 {
    font-size: 2.4rem;
  }
  h6 {
    font-size: 2.4rem;
  }
}
@media only screen and (64em) {
  h1, h2 {
    font-size: 2.8rem;
  }
  h3 {
    font-size: 2.6rem;
  }
}
.btn-icon {
  background: transparent;
  border: none;
  cursor: pointer;
}

fieldset {
  border: none;
}

.docs-heading .table-header {
  justify-content: space-between;
}

.table-rows, .table-header {
  width: 100%;
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  background: rgb(249, 249, 249);
}
.table-rows label, .table-header label {
  display: block;
}
.table-rows:nth-of-type(2n + 1), .table-header:nth-of-type(2n + 1) {
  background: rgb(255, 255, 255);
}

.table-header {
  background: rgb(228, 227, 227) !important;
}
.table-header label {
  display: block;
}

.form-row {
  display: flex;
  gap: 1rem;
}
.form-row label {
  display: block;
  width: 100%;
}
.form-row label input {
  width: 100%;
}

.summary {
  display: flex;
  justify-content: flex-end;
}
.summary label {
  font-size: 2.5rem;
  font-weight: 700;
}
.summary input {
  border: none;
  text-align: right;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 25rem;
}
.summary input:focus {
  border: none;
}

html {
  font-size: 62.5%; /*10px*/
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.8rem;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  margin: auto;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background: grey;
  border-left: solid 0.3px grey;
}

body::-webkit-scrollbar-track {
  background: black;
}

.input:focus {
  outline: none !important;
  border: 1px solid black;
  box-shadow: 0 0 10px grey;
}

main {
  margin: auto;
}

#content {
  transition: padding-top 0.5s ease-in;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

* {
  font: inherit;
  text-rendering: optimizeLegibility;
}

img,
picture,
video,
canvas,
svg {
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

.header {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: black;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .logo {
  display: flex;
  align-items: center;
}
.header nav {
  max-width: 2560px;
  margin: 0 10rem;
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.header .nav-menu {
  width: 50%;
}
.header .nav-list {
  display: flex;
  height: 100%;
}
.header .nav-list .nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}
.header .nav-toggle,
.header .nav-close {
  display: none;
}

.main-content {
  margin: auto;
}

.top-section {
  max-width: 2560px;
  padding: 0 10rem;
  margin: 5rem 0;
}

.flex-cont {
  display: flex;
}

.width-10 {
  width: 10%;
}

.width-20 {
  width: 20%;
}

.width-50 {
  width: 50%;
}

.width-30 {
  width: 30%;
}/*# sourceMappingURL=styles.css.map */